Task 1:
1. You survey households in your area to find the average rent they are paying. Find the
standard deviation from the following data:

$1550, $1700, $900, $850, $1000, $950.

In [9]:
import math

In [10]:
dt=['$1550', '$1700', '$900', '$850', '$1000', '$950']

Calculate mean

In [11]:
# i am taking data with $ sign and removing it beofre using
sm=0.0
cnt=len(dt)
mn=0.0
for vl in dt:
    sm=sm+float(vl[1:])
mn=sm/cnt

In [12]:
mn

1158.3333333333333

In [13]:
smd=0.0
for v in dt:
    smd=smd+(float(v[1:])-mn)**2

Standard deviation

In [14]:
std=math.sqrt(smd/mn)
std

24.177104336556095

2. Find the variance for the following set of data representing trees in California (heights in
feet):
3, 21, 98, 203, 17, 9

In [19]:
dt2=[3, 21, 98, 203, 17, 9]

In [25]:
mn2=0.0
sm2=0.0
mn2=sum(dt2)/len(dt2)

In [26]:
mn2

58.5

In [27]:
for vl2 in dt2:
    sm2=sm2+(vl2-mn2)**2
sm2

31099.5

verriance

In [28]:
vr=sm2/(len(dt)-1)

In [29]:
vr

6219.9

3. In a class on 100 students, 80 students passed in all subjects, 10 failed in one subject, 7 failed
in two subjects and 3 failed in three subjects. Find the probability distribution of the variable for
number of subjects a student from the given class has failed in.

Total number of students=100
Students passed in all subjects=80
Students failed in one subject=10,
Students failed in two subjects=7 
Students failed in three subjects=3

In [31]:
n=100
S0=80
S1=10
S2=7
S3=3

Probability of student failing in 0 subject P(S0)

In [35]:
P_S0=S0/n
P_S0

0.8

Probability of student failing in 1 subject P(S1)

In [36]:
P_S1=S1/n
P_S1

0.1

Probability of student failing in 2 subject P(S2)

In [37]:
P_S2=S2/n
P_S2

0.07

Probability of student failing in 3 subject P(S3)

In [38]:
P_S3=S3/n
P_S3

0.03

Task 2:

1. A test is conducted which is consisting of 20 MCQs (multiple choices questions) with every
MCQ having its four options out of which only one is correct. Determine the probability that a
person undertaking that test has answered exactly 5 questions wrong.

To get probability of answering 5 wrong questions 
Probability of giving write answer=1/4
Probability of giving wrong answer =1-1/4=3/4
Using binomial distribution= nCx*p**x*(1-P)**n-x

=n!/x!(n-x)!*(1/4)**15*(3/4)**5=20!

n!/x!(n-x)!=20!/(5!*(20-5))=20!/(5!*15*)=(20*19*18*17*16)/(5*4*3*2*1)=15504.0

P_5=15504*((1/4)**15)*((3/4)**5)= 0.0000034

2. A die marked A to E is rolled 50 times. Find the probability of getting a “D” exactly 5 times.

Probability of getting "D"=1/5
Probability of not getting "D"=1-(1/5)=4/5
So probability of getting exactly 5 times "D" =50C5*(1/5)5*(4/5)**45
50C5=(50*49*48*47*46)/(5*4*3*2*1)

In [52]:
(50*49*48*47*46)/(5*4*3*2*1)

2118760.0

In [55]:
P_5D=(2118760.0)*(.00032)*((0.8)**45)
P_5D

0.029531204310524292

3. Two balls are drawn at random in succession without replacement from an urn containing 4
red balls and 6 black balls.

Find the probabilities of all the possible outcomes.

Red balls(R)=4
Black Balls(B)=6

In [44]:
R=4
B=6
Totbal=R+B
Totbal

10

Probability of getting 2 Red ball

In [45]:
P_RR=(4/10)*(3/9)
P_RR

0.13333333333333333

Probability of getting 2 black balls

In [47]:
P_BB=(6/10)*(5/9)
P_BB

0.3333333333333333

Probability of getting 1 Red ball folowed by 1 Black ball

In [49]:
P_RB=(4/10)*(6/9)
P_RB

0.26666666666666666

In [ ]:
Probability of getting 1 Black ball folowed by 1 Red ball

In [50]:
P_BR=(6/10)*(4/9)
P_BR

0.26666666666666666